body {
    display:flex;
    flex-direction: column;
    background-size: 100%;
    padding:0;
    margin:0;
    justify-content: center;   
}

/* header */
header {
    height:25%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    background: url(../StaticStoreFront/assets/artur-aldyrkhanov-_omYGHPwGEU-unsplash\ \(1\)EDITED.jpg);
    background-size: cover;
    flex-shrink: 0;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 3em;
    color: white;
}

.headerNav {
    background-color: #0e263f;    
    height:24%;
    width:30%;
    position:relative;  
}

.headerNavElement {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.navLink, navLink:visited {
    color:white;
    text-decoration: none;
}

.navLink:active {
    color:red;
}

.navLink:hover {
    background-color: darkgray;
}

#search {
    padding-left: 0;
    margin-left: -4px;
}

.social {
    position:relative;
    bottom:10%;
    right:10%;
}
.socialMedia {
    display: inline-block;
    position:relative;
    left:70%;
    padding-left:5px;    
}





/* Main Content */
.main {
    height: 100%;    
    flex-basis:65%;
    display:flex;
    flex-direction:column;
    align-items: center;
    color:white;
}

.main h2 {
    font-size: 2.5em;
}

.label {
    text-align: center;   
}

#dealsContainer {
    flex-basis:80%;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.deal {
    height:300px;
    width:300px;    
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;  
}

.deal a {
    background-color: lightgray;
    width:100%;
    color:black;
    text-decoration: none;    
}

.deal a:active {
    color:#551A8B;

}

.deal a h3 {
text-align: center;
}

.deal:hover {
    transform:scale(1.1);
}

.price {
    font-style: italic;
    color:red;
}

#buttonsContainer {
    flex-basis:20%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width:50%;   
}

#buttonsContainer a{
    flex-basis: 40%;   
    height:20%;
}

#buttonsContainer button{
    width:100%;
    height:100%;
}




/* Sidebar Content */
.sidebar {
    height:95%;    
    flex-basis:25%;
    display:flex;
    flex-direction: column; 
    justify-content: center;     
}

#about {
    flex-basis: 45%;        
    padding:10px;
    margin-top:-10px;
    background-color: lightgray;
}

#maps {
    flex-basis:45%;
    width:50%:
}

#maps iframe{
    height:100%;
    width:99%; 
}




/* 
footer */
footer {
    background-color: lightgray;
    height:5%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    flex-shrink: 0;
}

.footerNav {
    background-color:  #0e263f;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:25%;
    height:50%;    
}

.footerNavElement {
    display:inline-block;
    padding:5px;
}

.container {
    display:flex;
    flex-direction: row;
    height:70%;    
    justify-content: space-around;
    background-color: #0e263f;    
}